<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Hopper</title>
</head>
<body>
    <header class="header header--hopper">
        <!-- Imagen en el paralax -->
    </header>
    <main>
        <section>
            <article class="hero">
                <h1>Grace Murray Hopper</h1>
                <P>Grace Murray Hopper fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I.</P>
            </article>
        </section>
    </main>
    <script src="js/scripts.js"></script>
</body>
</html>