<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Ada Lovelace</title>
</head>
<body>
    <header class="header header--lovelace">
        <!-- Imagen en el paralax -->
    </header>
    <main>
        <section>
            <article class="hero">
                <h1>ADA LOVELACE</h1>
                <P>Augusta Ada King, condesa de Lovelace, estuvo registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</P>
            </article>
        </section>
    </main>
    <script src="js/scripts.js"></script>
</body>
</html>